[Unit]
Description=USB Gadget rockchip

[Service]
RemainAfterExit=yes
ExecStart=/sbin/configure-gadget
ExecStop=/sbin/remove-gadget

[Install]
WantedBy=multi-user.target
