[Unit]
Description=USB Gadget rockchip
ConditionPathIsDirectory=/sys/kernel/config/usb_gadget/rockchip/

[Service]
RemainAfterExit=yes
ExecStart=/sbin/configure-gadget
ExecStop=/sbin/remove-gadget

[Install]
WantedBy=multi-user.target
