[Unit]
Description=USB Gadget rockchip

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/configure-gadget.sh
ExecStop=/usr/bin/remove-gadget.sh

[Install]
WantedBy=multi-user.target
